.appointment-container{
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url(../../assets/carousel-2.jpg) center center no-repeat;
    background-size: cover;

}

input{
    outline: none;
    border: none;
    font-size: 16px;
    background-color: #182333;
    color: #8d9297;
}
input:focus{
    outline-style: solid;
    outline-width: 3px;
    outline-color:rgba(245, 188, 39, 0.3);
    transition: 0.1s;
}

textarea{
    outline: none;
    border: none;
    font-size: 16px;
    background-color: #182333;
    color: #8d9297;
}

textarea:focus{
    outline-style: solid;
    outline-width: 3px;
    outline-color:rgba(245, 188, 39, 0.3);
    transition: 0.1s;
}