.result-text p{
    font-weight: 600;
}
.result-text .icon-color{
    width: 40px;
    height: 40px;
}
.right img{
    width: 100px;
    height: 100px;
}
.right .text{
    position: relative;
}
.right .text::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 45px;    
    height: 5.5px;
    background-color: #fda12b;
} 

.right .swiper-button-prev,
.right .swiper-button-next {
  border: 2px solid #fda12b;
  padding: 25px !important;
  border-radius: 50%;
  background-color: #fff;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 1.4rem;
  color: #8d9297;
}

.right .swiper-button-prev {
    margin-left: 5% !important;
    top: 80% !important;
    left: 0%;
    margin: 0 !important;
  }
.right .swiper-button-next {
    margin-right: 5% !important;
    top: 80% !important;
    left: 70px;
    margin: 0 !important; 
  }