.sv-cart{
    /* background-color: #fda12b; */
    background-color: #F8F9FA;
}
.details{
    transition: 0.3s;
    position: relative;
    z-index: 3;
}
.details::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -3;
    transition: 0.2s;

}
.sv-cart:hover .details::before{
    background-color: #fda12b;
    height: 100%;
}

.sv-cart:hover{
    color: #fff;
}


/* #8D9297 */