.sv-cart{ background-color: #F8F9FA;}
.details{
    transition: all .5s;
    position: relative;
    z-index: 3;
}
.service-container .details p{color: #8D9297;}
.details::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -3;
    transition: 0.3s;
}
.sv-cart:hover .details::before{
    background-color: #fda12b;
    height: 100%;
}
.sv-cart:hover .details h5{
    color: #fff;
}
.sv-cart:hover .details p{
    color: #fff;
}
.sv-cart:hover .details .btns-trans-orange{
    color: #fff;
}