.header{
    background-color: #fff !important;
    transition: 0.3s ease-out;
}
.header h1 {
    font-size: 40px;
    font-weight: 600;
    
}
.nav-menu > li{
    padding: 26px 0 !important;
}
.nav-menu li a, .nav-menu li{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #8D9297;
    cursor: pointer;
}
.nav-menu .active{
    color: #FDA12B;
}
.nav-menu li a:hover:not(.active), .nav-menu li:hover{
    color: #FDA12B;
}
.hamburger{
    cursor: pointer;
    transition: 0.3s;
}
.hamburger-icon{
    color: #8D9297;
}
.page-dropdown{
    top: 75px;
    left: -45px;
    z-index: 3;
    display: none;
    text-align: start;
    width: 150px;
    padding: 20px !important;
    background-color: #fff;
    border-top: 3px solid #FDA12B;
    opacity: 0;
    position: absolute;
}
.page:hover .page-dropdown{
    display: block;
    transition: 0.5s;
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .header{
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    .nav-menu {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      width: 100%;
      height: 0;
      overflow: hidden;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 64px;
      z-index: 3;
      transition: .3s ease-in-out;
     
      
    }
    .nav-menu > li:first-child{
        width: 100%;
        
        /* padding-top: 15px !important;  */
    }
    .nav-menu.toggle{
        height: inherit;
        border-top: 2px solid #8D9297;
        padding: 20px !important;
    }
    .nav-menu > li{
        width: 100%;
        padding: 0px 0 !important;
    }
    .page-dropdown{
        border:  1px solid #FDA12B;
        padding: 10px !important;
        position: static;
        width: 100%;
        text-align: start;
    }
    .page{
        flex-wrap: wrap;
    }
  }