.our-team-text{
    bottom: 30px;
    left: 0;
    transition: 0.4s;
}
.our-team-text h5{
    font-weight: 600;
    transition: 0.4s;
}
.our-team-text span{
    transition: 0.4s;
}
.team-card:hover .our-team-text{
    width: 100% !important;
}
.team-card:hover.team-card h5{
    letter-spacing: 2px;
}
.team-card:hover.team-card span{
    letter-spacing: 2px;
}
